include variable.pug

-var f = false;
-var t = true;

mixin worksList(arr)
    ul.works--list
        -for(var x in arr)
            li 
                h4
                    a(
                        href="worksDetail.html" 
                        data-projectName= arr[x].fullName
                        class="works-link"
                    )= arr[x].firstName 
                .thumbnail
                    img(
                        src= arr[x].thumbnailImg 
                        alt= arr[x].thumbnailImgText
                    )
                .thumbnail_mo( data-scroll data-scroll-sticky data-scroll-target="#top")
                    button.thumbnail-close-btn(type="button")
                    a(
                        href="worksDetail.html"
                        data-projectName= arr[x].fullName
                        class="works-link-mo"
                    )
                        img(
                            src= arr[x].thumbnailMoImg
                            alt= arr[x].thumbnailImgText
                        )                    
        li 
            h4
                a(
                    href="contact.html"
                ) ?
            .thumbnail 
                img(
                    src="/images/works/thumbnail/you.png"
                    art="you_thumbnail"
                )
            